@*@page "/readme"*@

<div class="col-10 col-md-12 m-auto">
    <div class="row col-5 m-auto">
        <div class="col">
            <h1 class="text-center" style="border-bottom: 1px solid #dfdfdf; padding-bottom: .13em;">ReConv</h1>
            <br />
            <p>
                Files extractor and repacker, focus on localization.
            </p>
            <br />

            <h2 style="border-bottom: 1px solid #dfdfdf; padding-bottom: .13em;">Credits</h2>
            <ul>
                <li>Author: <a href="https://viethoagame.com/members/dc.2/#about" target="_blank">[DC]</a></li>
                <li>Github: <a href="https://github.com/0xDC00/reconv" target="_blank">https://github.com/0xDC00/reconv</a></li>
                <li>Discord: <a href="https://discord.gg/cdmSkXR7j8" target="_blank">https://discord.gg/cdmSkXR7j8</a></li>
                <li>
                    Special Thanks:
                    <ul>
                        <li>People I forgot to add to this list.</li>
                        <li>VietHoaGame: <a href="https://www.facebook.com/viethoagames" target="_blank">https://www.facebook.com/viethoagames</a><br><a href="https://discord.com/invite/YE59VVK" target="_blank">https://discord.com/invite/YE59VVK</a></li>
                        <li>OtomeVN: <a href="https://www.facebook.com/otomevn" target="_blank">https://www.facebook.com/otomevn</a></li>
                    </ul>
                </li>
                <li></li>
                <li class="font-weight-bold">Sponsor this project: <a href="https://ko-fi.com/0xdc00" target="_blank">https://ko-fi.com/0xdc00</a></li>
                <li>TODO...</li>
            </ul>
            <br />

            <h2 style="border-bottom: 1px solid #dfdfdf; padding-bottom: .13em;">Usage</h2>
            <p>
                Config: <code>_init_.yaml</code> (optional; input).
            </p>
            <br />
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h5>Extract: File, Files (zip) -&gt; CSV</h5>
            <div class="img-fluid">
                <video style="border: 1px solid" controls type="video/mp4" src="https://viethoagame.com/data/extract_1.mp4"></video>
            </div>
        </div>
        <div class="col-md-auto">
            <h5>Repack: CSVs (zip), XLSX (by CSV-&gt;XLSX) -&gt; binary</h5>
            <div class="img-fluid">
                <video style="border: 1px solid" controls type="video/mp4" src="https://viethoagame.com/data/reimport_csv.mp4"></video>
            </div>
        </div>
    </div>
</div>

@code {

}
